/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 15px;
	min-height: 300px;
}

.container {
	max-width: 960px;
}

.content {
	padding-top: 75px;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.navbar-default .navbar-brand {
	color: white;
	background: #333;
}

.navbar-default .navbar-brand:hover {
	color: white;
	background-color: #333;
}


label.control-label {
	color: #333;
	margin-top: 15px;
}

input.form-control {
	border-color: #333;
}

.searchbar {
	min-width: 400px;
}

.editor{
	margin: 3em 0;
}

textarea#concept_body.md-input {
	padding: 1em;
}

.btn-default {
	border-color: #333;
	font-color: #333;
}


h1 {
	font-size: 1.5em;
	padding-bottom: 10px;
	display: inline-block;
}

h2 {
	font-size: 1.2em;
	padding-bottom: 10px;
/*	border-bottom: 1px solid black;
*/}


h2#section-title {
	display: inline-block;
}

.glyphicon {
	font-size: 1.7em;
}

footer {
	min-height: 100px;
	margin-top: 100px;
	border-top: 1px solid #eee;
}

footer p {
	padding-top: 15px;
	color: #999988;
}

.fa {
	font-size: 1.3em;
}

ul li {
	list-style-type: none;
	margin-bottom: 15px;
}

em {
	font-weight: bold;
}



