// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concept {
	padding: 10px;
}

.concept p {
	font-style: italic;
}

.concept:hover {
	background-color: #e7e7e7;
}

.new_concept {
	margin-left: 30px;
}