// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concept {
	padding: 10px;
	margin-top: 15px;
}

.concept p {
	font-style: italic;
}

.concept:hover p {

}

.title {
	margin-bottom: 15px;
}

.concept:hover .title {
	color: red;
}

.concept:hover .panel-heading {
	background-color: #e7e7e7
}

.concept .admin {
	visibility: hidden;
}

.concept:hover .admin {
	visibility: visible;
}

.new_concept {
	margin-left: 30px;
}