// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concept {
	padding: 10px;
	margin-top: 0px;
}

.concept p {
	font-style: italic;
}

.concept:hover p {

}

.concept:hover .title {
	color: red;
}

.concept:hover .panel-heading {
	background-color: #e7e7e7;
}

.panel-heading {
	background-color: #e7e7e7;
}

.panel {
	margin: 0;
}

.concept .admin {
	visibility: hidden;
}

.concept:hover .admin {
	visibility: visible;
}

.concept-container {
	margin-top: 20px;
}