// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pic {
	width: 5em;
	height: 5em;
	display: inline-block;
	float: left;
}

.user-data {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

.user-info {
	margin-top: 10px;
	margin-left: 20px;

}

	.profile-name {
		display: inline;
		margin-top: 20px;
	}

	.profile-thumb {
		width: 2em;
		height: 2em;
	}

.user-stats {
	margin-top: 20px;
}